server:
  port: ${SERVER_PORT}
spring:
  application:
    name: mocktalkback
  datasource:
    driver-class-name: ${DB_DRIVER_CLASS_NAME}
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

